* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0d0d0d;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #e78ee1;
  text-decoration: none;
  font-size: 18px;
  font-feature-settings: "abvm";
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  flex-grow: 30px; /* Ensures the image appears on the right */
  margin-top: 7.5%; /* Optional: adjust to your preference */
}

.header-text {
  flex: 1;
  font-size: 30px;
  position: relative;
}

.header-text h1 {
  font-size: 30px;
  margin-top: -80px;
  color: #fff;
  animation: fadeIn 2s ease-in-out;
}



.header-text  span {
  color: #e78ee1;
  font-size: 30px;
}
.title-container {
  position: relative;
  height: 1.5em; /* Set the height to fit one title line */
  overflow: hidden;
  margin-top: 10px;
}
.title {
  font-size: 1.5em;
  color: #e78ee1;
  position: absolute;
  opacity: 0;
  animation: fadeAnimation 3s infinite;
}

.title1 {
  animation-delay: 0s;
}

.title2 {
  animation-delay: 1s;
}

@keyframes fadeAnimation {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

.header-text p {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  animation: fadeIn 2.5s ease-in-out;
}

.header-image {
  
  margin-left: 20px; 
  max-height: 2550px;
  object-fit: cover;/* Add space between text and image */
}

.header-image img {
  width: 200px; /* Adjust width as needed */
  max-height: 22950px; /* Ensures image stays aligned */
  border-radius: 8px; /* Optional: adds rounded corners */
}





@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Particle Background */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* About Section */
#about {
  padding: 60px 0;
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 38.5%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #e78ee1;
}

.tab-titles {
  display: flex;
  margin: 10px 0 40px;
}

.tab-links {
  margin-right: 80px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #e78ee1;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 2px 0;
}

.tab-contents ul li span {
  color: #e78ee1;
  font-size: 14px;
  
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Services Section */
#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 50px;
  color: #e78ee1;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  color: #e78ee1;
  font-weight: 500;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.services-list div:hover {
  background: #ff004f;
  transform: translateY(-10px);
}

/* Portfolio Section */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #e78ee1);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 500;
  margin-top: 20px;
}

.layer a {
  margin-top: 20px;
  color: #e78ee1;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/* Button */
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #e78ee1;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}

.btn:hover {
  background: #e78ee1;
}

/* Contact Section */
.contact-left {
  flex-basis: 40%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 15px;
}

.contact-left p i {
  color: #e78ee1;
  margin-right: 10px;
  font-size: 20px;
}

.social-icons {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #e78ee1;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #e78ee1;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #e78ee1;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

nav .fas {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header-text {
    margin-top: 100%;
    font-size: 16px;
  }

  .header-text h1 {
    font-size: 30px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: #e78ee1;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }

  .sub-title {
    font-size: 30px;
  }

  .about-col-1, .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 {
    margin-bottom: 30px;
  }

  .about-col-2 {
    font-size: 14px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }

  .contact-left, .contact-right {
    flex-basis: 100%;
  }
}

#msg {
  color: #61b752;
  margin-top: -10px;
  display: block;
}
